{% extends "news/base.html" %}
{% block title%} Blog News {% endblock%}
{% block nav_extra %} {% endblock %}
{% block content %}
<h1>Posts</h1>
<!-- <form method="get">
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="">All</option>
        {% for cat in categories %}
            <option value="{{ cat.slug }}" {% if selected_category == cat %}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form> -->



{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail'  slug=post.slug %}" style="text-decoration: none;">{{ post.title }}</a>
                - <a href="{% url 'category_detail' post.category|slugify %}" style="text-decoration: none;">{{ post.category }}</a>
                <br/>
                {{ post.content|slice:":200" }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts yet.</p>
{% endif %}

{% endblock %}
